ol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body {
    font-family: 'Pacifico', cursive;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body {
    background-image: url(earth-rose.jpeg);
}

.barre-de-navigation {
    border: 0px solid #000; 
    padding: 20px; 
    background-color: rgb(119, 12, 105); 
}

.profile{
    text-align: center;
    padding: 20px;
    
  }
exemple
  /*.grid-container {
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: 100px auto;
 }

.profile h3 {
    text-align: center;
}
*/

.profile h1 {
    font-size: 36px;
    color: greenyellow;
    text-transform: uppercase;
}

/*.profile h1 {
    text-align: center;
    padding: 20px;
}

*/
.profile h4 {
    font-size: 24px;
    color: red;
    /*margin-top: 20px;*/
    
}


.profile p {
    font-size: 18px;
    line-height: 1.4;
    color: black;
   /* margin-top: 20px;*/
}


a {
    color: rgb(188, 194, 188);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.profile h4 {
    font-size: 24px;
    color: red;
    margin-top: 20px;
}

.profileh4 {
    text-align: center;
    padding: 20px;
}

.photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 35px;
}

.profile {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serves {
    font-size: 24px;
    color: red;
    margin-top: 20px;
}

.serv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 10px;
    padding: 10px;
  
}

.serv {
    border: 10px solid rgb(7, 1, 4); 
}

.serv {
    margin:  63px;
}

.serv {
    padding: 10px; 
}
.serv h4 {
    font-size: 24px;
    color: rgb(201, 17, 17);
    margin-top: 1px; 
}

.serv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.en-bas {
    border: 0px solid #000; 
    padding: 20px; 
    background-color: rgb(119, 12, 105); 
} 

.en-bas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}